@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&family=Be+Vietnam+Pro:wght@100&family=Josefin+Sans:ital,wght@1,300&family=Jost:wght@300&family=Lato:wght@100;400&family=Maven+Pro&family=Merriweather:wght@300&family=Mountains+of+Christmas&family=Outfit&family=Playfair+Display&family=Roboto+Condensed:wght@300&family=Roboto:wght@300&family=Source+Sans+Pro:wght@300&family=Spline+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&family=Be+Vietnam+Pro:wght@100&family=Jost:wght@100;300&family=Maven+Pro&family=Merriweather:wght@300&family=Mountains+of+Christmas&family=Outfit&family=Playfair+Display&family=Roboto+Condensed:wght@300&family=Roboto:wght@300&family=Source+Sans+Pro:wght@300&family=Spline+Sans:wght@300&display=swap');
$appColor:#14141F;
$ulColor:#ffffff;
$buttonBorder:#5142FC;
$hoverColor:#5142FC;
$iconBack:#343444;
$headerBorder:#3F3F48;
$pColor:#ebebeb;
$ralphclr:#cacad3;
$fireSvg:#5142FC;
$priceColor:#14141F;
$creatorClr:#BBBBBF;
$salColor:#5142fc;
$bidColor:#4C4C5A;
$ethColor:#7A798A;
$categoryBorder:#7A798A;
$footerBg:#0D0D11;
$placeholderClr:#8A8AA0;
$linerGradient:linear-gradient( -45deg, #E250E5, #4B50E6, #E250E5, #4B50E6);
$ulFont:  'Baloo Tamma 2';
$latoFont:"Lato";
$pFont: 'Outfit', sans-serif;
$outfitFont :'Outfit';